* {
    margin: 0;
    padding: 0;
}

body {
     background-color: #020617;
}

.container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 100px auto;
     max-width: 400px;
     width: 100%;
     flex-wrap: wrap;
     background: linear-gradient(135deg, #eef2ff, #f8fafc);
     padding: 20px;
     border: 3px solid black;
     border-radius: 8px;  
}

.but {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    gap: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    min-width: 200px;
    align-items: center;
    margin: 100px auto;
    gap: 20px;
}

.amo {
    font-size: 1.25rem;
    font-weight: 600;
}

#amount {
    border: 3px solid #121212;
    border-radius: 3px;
}

.buttons {
    border: 2px solid #121212;
    border-radius: 10px;
    padding: 16px;
    color:white;
    width: 130px;
    cursor: pointer;  
}

#b1:hover {
    background-color: green;
}

#b2:hover {
    background-color: #1e3a8a;
}

h1 {
      color: #1e3a8a;
    text-decoration:underline;
}

#b1 {
    font-weight: 700;
    background-color: red;
}

#b2 {
    background-color: blue;
    font-weight: 700;
}
 
p {
    font-weight: 600;
}

input {
  width: 250px;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 6px;
}

#message {
  display: none;
  margin-top: 12px;  
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #c0d8cd;
  font-weight: 600;
}

.success {
  display: inline-block;
  color: #166534;
  background-color: #ecfdf5;
  border: 2px solid #14532d;
}

.error {
  display: inline-block;
  color: #991b1b;
  background-color: #fef2f2;
  border: 2px solid #7f1d1d;
}
